* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

/************************
  Navigation Bar  
  *************************/

ul {
  width: 100%;
  background-color: rgb(230, 231, 231);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: center;
  overflow: auto;
}

li {
  float: left;
}

ul a {
  display: block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-bottom: 3px solid rgb(97, 99, 97);
}

ul a:hover {
  background-color: rgb(94, 94, 94);
  color: #fff;
}

.active {
  background-color: rgb(108, 172, 78);
  color: #fff;
  border-bottom: 4px solid rgb(60, 109, 38);
}
