/* Common Css */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f6f6;
  padding-left: 30px;
  padding-right: 30px;
}

.light-font {
  color: #bababa;
}

.dark-font {
  color: #0c0a0c;
}

.medium-font {
  color: #363636;
}

.small-font {
  font-size: 13px;
}

.medium-font {
  font-size: 15px;
}

.regular-font {
  font-weight: 300;
}

.semi-bold-font {
  font-weight: 500;
}

.bold-font {
  font-weight: 700;
}

.borderLessBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.big-font {
  font-size: 40px;
  font-weight: 400;
}

section {
  margin-top: 60px;
}

.block {
  display: inline-flex;
}

/* Loader  */
#loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 100000;
  margin-left: -40px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
}

/*************************************************
Header 
*************************************************/
.sideText {
  margin-left: 10px;
}

#container {
  width: 819px;
  display: inline-flex;
  flex-direction: row;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 20px #cccccc;
  border-radius: 8px;
  z-index: 1000;
}

#headerLeft {
  width: 200px;
}

#temperature {
  margin-left: 5px;
}

#headerRight {
  width: 300px;
  margin-left: 50px;
}

.box {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  padding-left: 20px;
  border-right: 1px solid #888;
}

.selectedItem {
  width: 100px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#selectedPlace,
#selectedDay,
#selectedDate {
  display: flex;
}

.dropdownList {
  position: absolute;
  list-style-type: none;
  background: #fff;
  width: 150px;
  box-shadow: 0px 0px 4px #d3d3d3;
  border-radius: 4px;
  max-height: 200px;
  scroll-behavior: smooth;
  overflow: auto;
  margin-top: 10px;
  margin-left: -20px;
}

.dropdownList li {
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  overflow: hidden;
  color: #555;
}

.dropdownList li:hover {
  background-color: #f1e9e2;
}

.down-icon {
  margin-left: 20px;
}

#selectDate {
  width: 100%;
  border: 0px;
  margin-right: 22px;
}

#selectDate:focus {
  outline: 0px;
}

#placeList,
#dayList {
  display: none;
}

#placeBox:hover #placeList,
#dayBox:hover #dayList {
  display: block;
}

#selectedPlace:hover #placeDownBtn,
#selectedDay:hover #DayDownBtn {
  transform: scale(1.2);
  color: rgb(87, 87, 87);
  transform: rotate(-180deg);
  transition: 500ms;
}

#placeBox:hover #placeDownBtn,
#dayBox:hover #DayDownBtn {
  transform: scale(1.2);
  color: rgb(87, 87, 87);
  transform: rotate(-180deg);
  transition: 500ms;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#container .menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#container .goBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e87875;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
}

#container .goBtn:hover {
  background-color: #ca5854;
}

#container .goBtn p {
  font-size: 15px;
  margin-left: 3px;
}

#menuBtns {
  display: flex;
  justify-content: space-around;
}
.goBtn {
  margin-top: 3px;
  margin-bottom: 3px;
}

@media only screen and (min-width: 1444px) {
  #header {
    display: grid;
    justify-content: center;
  }
  .menuBtn {
    border-right: 1px solid #888;
  }
}

@media only screen and (max-width: 1444px) {
  #header {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 150px;
  }

  #container {
    align-self: end;
    position: absolute;
  }

  #selectedPlace,
  #selectedDay,
  #selectedDate {
    padding-bottom: 10px;
  }

  .dropdownList {
    margin-top: 0px;
  }

  .box label {
    padding-top: 10px;
  }

  #headerRight {
    margin-left: 0px;
  }
  .menuBtn {
    border-right: 1px solid #888;
  }
}

@media only screen and (max-width: 1115px) {
  #container {
    width: 700px;
    box-shadow: 0px 0px 10px #cccccc;
  }
  .menuBtn {
    border-right: 1px solid #888;
  }
}

@media only screen and (max-width: 751px) {
  .dropdownList {
    width: 300px;
    margin-top: 0px;
  }

  #header {
    height: 320px;
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: initial;
    border: 0px;
    border-bottom: 1px solid rgb(228, 228, 228);
  }

  .selectedItem {
    width: 222px;
  }

  .menuBtn {
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    border-right: 1px solid rgb(228, 228, 228);
  }

  #headerLeft {
    justify-content: center;
    order: 1;
    margin: 0;
    margin-bottom: 5px;
  }

  #headerRight {
    justify-content: center;
    order: 2;
    margin: 0;
    margin-bottom: 5px;
  }

  #container {
    position: initial;
    order: 3;
    align-self: center;
    flex-direction: column;
    width: 300px;
    box-shadow: 0px 0px 10px #cccccc;
  }

  #menuBtns {
    display: flex;
    justify-content: space-around;
  }

  .goBtn {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

/*************************************************
Bottom part 
*************************************************/
#cardContainer {
  display: flex;
  justify-content: center;
}

#cardHolder {
  display: grid;
}

@media only screen and (min-width: 1444px) {
  #header {
    grid-template-columns: auto auto auto;
  }

  #cardHolder {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 1444px) {
  #cardHolder {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 1115px) {
  #cardHolder {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 751px) {
  #cardHolder {
    display: grid;
    grid-template-columns: auto;
  }
}

.card {
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #d1d1d1;
  border-radius: 10px;
  padding: 17px;
  display: inline-block;
  margin: 10px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 12px #c2c2c2;
  transition-duration: 100ms;
}

.bookMark {
  float: right;
}

.cardHeading {
  width: 250px;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardDate {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 11px;
  color: rgb(59, 59, 59);
}

.cardCategory {
  font-size: 10px;
  color: rgb(153, 153, 153);
}

.cardTemperature {
  margin-top: 25px;
}

.cardTemperature .label {
  font-size: 12px;
  color: #4b4b4b;
}

.line {
  width: 20px;
  height: 1px;
  margin-top: 1px;
  background-color: #0c0a0c;
  border-top: 1px #0c0a0c;
  color: #c91717;
}

.tempratureicon {
  height: 20px;
}

.cardImage {
  width: 100%;
}

.temperatureText {
  margin-top: 12px;
  margin-bottom: 13px;
  display: flex;
  align-content: center;
}

.card > img {
  border-radius: 10px;
  height: 185px;
}

.cardBottom {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.cardBottom .label {
  font-size: 10px;
  color: #888;
}

.exploreBtn {
  font-size: 12px;
  color: #4b4b4b;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #ececec63;
  border: 1px solid #cccccc;
}

.exploreBtn:hover {
  color: #000000;
  background-color: #d3d3d3;
  border: 1px solid #000000;
  transition-duration: 100ms;
}
