code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Common Style  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: 0;
  height: fit-content;
  font-size: 11px;
}

body {
  background-color: rgb(243, 243, 243);
  height: 100vh;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  margin-top: 40px;
}
